.tecnologies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 300px 0 ;
justify-content: center;
padding-top: 60px;
}

.tecnologies_card{
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background:var(--card-color);
  z-index: 90;
  cursor: default;
  max-height: 330px;
  z-index: 90;
  border-radius: 5px;
  box-shadow: var(--box-shadow-default);
  -webkit-transition: all ease 0.4s;

}
.tecnologies_card:hover{
  box-shadow: var(--box-shadow);
}
.tecnologies_image {
  max-width: 480px;
  height: 324px;
  border-radius: 20px;
  opacity: 0.6;
  -webkit-transition: all ease 1s;
}

.tecnologies_image:hover {
  opacity: 1;
  transition: 0.5s;
  transform: scale(1.05);
}

.tecnologies_item {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
}
.tecnologies_title {
  color: var(--details-color);
  font-size: 50px;
}

.tecnologies_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologies_item:hover{ 
    transition: 0.2s;
    transform: scale(1.2);
}

@media  screen and (max-width:1119px) {
    .tecnologies_image{
        order: -1;
        margin: 20px;

    }
}