.navbar {
  background:var(--primary-color);
  align-items: center;
  display: flex;
  justify-content:space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: 0.2s;
}


.navbar_logo{
margin:10px 30px ;
width:150px;
}

.navbar_list {
  display: flex;
  list-style: none;
}

.navbar_item {
  font-size: 26px;
  font-weight:900;
  padding: 34px;
  border-radius: 10px;
  color: var(--details-color);
  background: var(--gradient-color);
  background-size: 300% 100%;

}

.navbar_item:hover  {
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: ease-in 0.5s ;
    background-position: left;
}





@media screen and (max-width:1146px) {
  .navbar_list{
    justify-content: space-between;
width: 100%;  }
 
  .navbar_logo{
    display: none;
  }
}

@media screen and (max-width:870px){
  .navbar_item{
    font-size: 18px;
  }
}

@media screen and (max-width:600px){
  .navbar_list{display: none;
  }
  .navbar{
    justify-content: space-between;
  }
  .navbar_logo{
    display: contents;
  }
}