
*{
  /*color variants*/
--background-color: #121212;
--secondary-color: #6df1d8 ;
--primary-color:#270334;
--details-color:#de0c91;
--card-color:#373737;
--gradient-color:linear-gradient(to left, #79A7D3, #8A307F );
font-family: "roboto";

}

*::selection{
  color: var(--secondary-color);
  background-color: var(--details-color);
}


.App {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}



